 "@angular-eslint/template/attributes-order": [
          "error",
          {
            "order": [
              "STRUCTURAL",
              "TEMPLATE_REFERENCE",
              "ATTRIBUTE",
              "INPUT",
              "TWO_WAY_BINDING",
              "OUTPUT"
            ]
          }
        ]