.container {
  width: 100vw;
  display: flex;
  gap: 2rem;
}

.form-despesa {
  flex: 1;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

app-lista-despesa {
  flex: 1;
}
