<p-toast />
<p-drawer [(visible)]="drawerAberto" header="Finança Pessoal">
  <app-menu [menu]="menu" (onItemClick)="fecharDrawer()" />
</p-drawer>
<div>
  <p-toolbar>
    <ng-template #start>
      <p-button label="Abrir" (onClick)="drawerAberto.set(!drawerAberto())" rounded></p-button>
    </ng-template>
    <ng-template #center>
      <h1>Finanças Pessoais</h1>
    </ng-template>
    <ng-template #end>
      <h5>Thagner Moreira Uramoto</h5>
    </ng-template>
  </p-toolbar>
  <router-outlet></router-outlet>
</div>
